<div class="container">
  <div class="row align-items-center">
    <div class="logo col-12">
        <img class="mx-auto d-block" src="../../assets/img/citibox-logo.png" alt="">
    </div>
    <div class="col-12 titulo">
      <h1 class="text-center">Pedido ya recogido 🤔</h1>
    </div>
    <div class="col-12 subtitulo">
      <p class="text-center">Este buzón ya está vacío</p>
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col">
      <a type="button" class="btn d-block boton">OK</a>
    </div>
    <div class="col">
      <a type="button" class="btn d-block boton" (click)="handleClick()">Ayuda</a>
    </div>
    <!-- <div class="col">
      <a type="button" class="btn d-block boton">Ayuda</a>
    </div> -->
  </div>
</div>