<div class="container">
  <div class="row align-items-center">
    <div class="logo col-12">
      <img class="mx-auto d-block" src="../../assets/img/citibox-logo.png" alt="">
    </div>
    <div class="col-12 titulo">
      <h1 class="text-center">Introduce tu nuevo código en el buzón Nº {{data.numBuzon}}</h1>
    </div>
    <div class="col-12 subtitulo">
      <p class="text-center">{{data.codigoAnt}}</p>
    </div>
  </div>
  <div class="spacingOne"></div>
  <div class="row align-items-center">
    <div class="col">
      <a type="button" class="btn d-block boton" [routerLink]="['/orden', data.codigoTrans, 'ten']">¡Tengo mi pedido!</a>
    </div>
    <div class="col">
      <a type="button" class="btn d-block boton" [routerLink]="['/orden', data.codigoTrans, 'fourteen']">¡Sigue sin abrirse!</a>
    </div>
  </div>
</div>