<div class="container">
  <div class="row align-items-center">
    <div class="logo col-12">
      <img class="mx-auto d-block" src="../../assets/img/citibox-logo.png" alt="">
    </div>
    <div class="col-12 titulo">
      <h1 class="text-center">Recuerda 🕑</h1>
    </div>
    <div class="col-12 subtitulo">
      <p class="text-center">Te quedan 24 horas para recoger tu pedido</p>
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col">
      <a type="button" class="btn d-block boton">Abrir ahora</a>
    </div>
  </div>
</div>