<div class=“container”>
  <div class=“row align-items-center”>
    <div class=“logo col-12”>
      <img class=“mx-auto d-block” src=“../../assets/img/citibox-logo.png” alt=“”>
    </div>
    <div class=“col-12 titulo”>
      <h1 class=“text-center”> ¡Cuéntanos! 🧐 ¿Qué ha pasado? </h1>
    </div>
    <div class=“col-12 subtitulo”>
      <p class=“text-center”>Ponte en contacto con nosotros</p>
    </div>
  </div>
  <div class=“row align-items-center”>
    <div class=“col”>
      <a type=“button” class=“btn d-block boton”>Llámanos</a>
    </div>
    <div class=“col”>
      <a type=“button” class=“btn d-block boton”>Te llamamos</a>
    </div>
    <div class=“col”>
      <a type=“button” class=“btn d-block boton”>Abre un chat</a>
    </div>
  </div>
</div>