<div class="container">
    <div class="row align-items-center">
      <div class="logo col-12">
          <img class="mx-auto d-block" src="../../assets/img/citibox-logo.png" alt="">
      </div>
      <div class="col-12 titulo">
        <h1 class="text-center">¿Problemas? Prueba con este nuevo código 🤗</h1>
      </div>
      <div class="col-12 number">
        <p class="text-center">4314 7480</p>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col">
        <a type="button" class="btn d-block boton">Abierto</a>
      </div>
      <div class="col">
        <a type="button" class="btn d-block boton">Sigue sin abrirse</a>
      </div>
    </div>
  </div>